*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #c0bdbd88;
  border: 1px solid;
  padding: 10px;
  box-sizing: border-box;
}

.h1{
  text-align: center;
  border: 1px double;
}

.hR{
  text-align: left;
  border: 2px double rgb(0, 0, 0);
  border-radius: 10px 10px;
}

.spread2 {
  align-self: center;
  border: 2px solid;
  padding: 5px;
  box-shadow: 6px 4px 8px -2px;
  border-width: thin;
  height: 50px;
  width: 50px;
}

.spread3{
  align-self: center;
  border: 2px solid;
  padding: 5px;
  box-shadow: 6px 4px 8px -2px black;
  border-width: thin;
  height: 60px;
  width: 80px;
}

button {
  background-color: #810404; /* Green */
  border: auto;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#nav {
  height: 100vh;
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: 1fr;
  transition: 300ms;
  text-align: center;
}
.img1{
  width:50px;
  height:50px;
}
.img2{
  width:900px;
}

#right{
  padding-left: 10px;
  background-color: #cfcfcf;
}

#left {
  background: #c5aa0f69;
  border: 1px solid;
}

#nav:has(#left:hover) {
  grid-template-columns: 30% auto;
}

a:link {
  color: rgb(3, 3, 3);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(161, 10, 10);
  background-color: transparent;
  text-decoration: underline;
}

.img{
  padding-left: 400px;
  max-width: 992px;
  max-height: 992px;
}

.contact-me{
  text-align: center;
  border: 1px solid;
  padding: 5px;
  border-width: thin;
  background: #adadad;
}


@media only screen and (max-width: 768px) {

  .img{
      padding-left: 100px;
  }
}

@media only screen and (max-width: 480px) {

  .img{
      padding-left: 50px;
      max-width: 480px;
  }
}